# 选择CMSIS-DAP接口
source [find interface/cmsis-dap.cfg]

# 选择传输协议
transport select swd

# 注册 STM32H723 的 OCTOSPI2 外置存储 bank。初始化由目标固件完成。
set OCTOSPI1 0
set OCTOSPI2 1

# 选择STM32H7目标
source [find target/stm32h7x.cfg]
